.header {
    background-color: #fff;
    text-align: center;
   
  }

  .container{
    justify-content: center;
    display: flex;
  }

  .content{
    display: flex;
    flex-direction: row;
  }

  div.scrollmenu  {
      width: 60%;
      height: 10vh;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    align-content: center;
    flex-flow: row;
}
    a{
     text-decoration: none;   
     color: #506690;
     padding: 10px;
    }
  .center {
    text-align: center;
  }
  .left {
    text-align: left;
    font-weight: bold;
    font-size: large;
  }
  .right {
    text-align: right;
  }
  .button>a{
    color: white;
  }
  .button {
    background-color: #506690; /* Green */
    color:#fff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
  }
  .container2{
      display: flex;
      flex-flow: row;
  }
  
  .content{
    flex-direction: column;
  }
